[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = false


[packages]

"jinja2" = "==2.10"
aiohttp = "==3.0.7"
"prometheus_async[aiohttp]" = "*"


[dev-packages]

pytest = "==3.3.1"
pytest-aiohttp = "*"
pylint = "*"


[requires]

python_version = "3.6"
