[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = false


[packages]

"jinja2" = "==2.11.3"
aiohttp = "==3.6.2"
"prometheus-async[aiohttp]" = "*"


[dev-packages]

pytest = "*"
pytest-aiohttp = "*"
"flake8" = "*"


[requires]

python_version = "3.8"
